<div class="footer-hero">
  <div class="footer-hero__content">
    <div class="footer-hero__image">
      <img src="./assets/images/image-footer.png" alt="footer" />
    </div>
    <div class="footer-hero__banner">
      <h2 class="footer-hero__banner_title">
        Пора в путешествие вместе с нами!
      </h2>
      <p class="footer-hero__banner_subtitle">
        Напиши на почту и узнай подробности на
        <span class="email">yourtour@gmail.com</span>
      </p>
    </div>
  </div>
</div>
