@use '../../../../scss/mixins' as m;
@use '../../../../scss/variables' as v;

.tour-form {
  width: 100%;
  @include m.flex-center;
  &__content {
    @include m.title-center(1170px);
  }

  &__title {
    max-width: 458px;
    margin: 0 auto;
    text-align: center;

    .title__value {
      @include m.font-roboto(3.6875rem, 700);
      color: v.$black-color;
      line-height: 124%;
    }

    .title__subtitle {
      @include m.font-roboto;
      color: v.$grey300-color;
      max-width: 418px;
      height: 56px;
      margin: 30px auto;
    }
  }

  &__form {
    margin-top: 100px;
    padding: 0 70px;
    background-color: v.$white-color;

    .form__info {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 33px 30px;

      &_name {
        @include m.font-roboto;
        color: v.$black-color;
        text-align: left;
      }

      &_label {
        max-width: 500px;
        width: 100%;
        input {
          width: 100%;
          height: 68px;
          background-color: v.$beige100-color;
          outline: none;
          border-radius: 10px;
          border: 1px;
          padding: 20px;
          margin-top: 8px;
          font-size: 20px;
        }

        #direction {
          width: 100%;
          height: 68px;
          outline: none;
          border-radius: 10px;
          border: 1px;
          padding: 20px;
          margin-top: 8px;
          background-color: v.$beige100-color;
          font-size: 20px;
          appearance: none;
          background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M6 9l6 6 6-6"/></svg>');
          background-repeat: no-repeat;
          background-position: right 20px center;
          cursor: pointer;
        }

        #direction,
        input::placeholder,
        input[type='date'] {
          @include m.font-roboto;
          color: v.$grey300-color;
          text-align: left;
        }
        input[type='date']::-webkit-calendar-picker-indicator {
          opacity: 0;
        }
      }
    }

    .form__comment {
      width: 100%;
      margin-top: 33px;

      .comment__label {
        width: 100%;

        &_item {
          @include m.font-roboto;
          text-align: left;
          color: v.$black-color;
        }

        #comment__value {
          width: 100%;
          height: 152px;
          margin-top: 8px;
          border: 1px;
          border-radius: 10px;
          font-size: 20px;
          background-color: v.$beige100-color;
          padding: 20px;
          outline: none;
        }
      }
    }

    .form__filter {
      &_label {
        margin-top: 33px;
        @include m.font-roboto;
        color: v.$black-color;
        text-align: left;
      }

      .filter__radio {
        @include m.flex-center;
        justify-content: flex-start;
        column-gap: 31px;
        margin-top: 9px;

        .radio__label {
          @include m.flex-center;
          column-gap: 11px;

          input[name='radio__label'] {
            @include m.select-input;
            border: 1px solid v.$black-color;
            border-radius: 50%;

            &::after {
              content: '';
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background-color: v.$black-color;
              opacity: 0;
              transition: 300ms;
            }

            &:checked::after {
              opacity: 1;
            }
          }

          span {
            display: inline-block;
            @include m.font-roboto;
            color: v.$black-color;
            margin-left: 11px;
          }
        }
      }

      .filter__checkbox {
        margin-top: 34px;

        input[type='checkbox'] {
          @include m.select-input;
          align-self: flex-start;
          border: 1px solid v.$black-color;
          accent-color: transparent;
          border-radius: 3px;

          &::after {
            content: '';
            width: 12px;
            height: 12px;
            background-image: url('./assets/icons/rectangle-stroke.svg');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            opacity: 0;
            transition: opacity 300ms;
          }

          &:checked::after {
            opacity: 1;
          }
        }

        &_label {
          @include m.flex-center;
          justify-content: flex-start;
          column-gap: 19px;

          span {
            @include m.font-roboto(1.0625rem);
          }
          .checkbox__span_second:hover {
            cursor: pointer;
          }
        }

        .checkbox__span_first {
          color: v.$grey300-color;
        }
        .checkbox__span_second {
          color: v.$black-color;
        }
      }
    }

    .form__btns {
      margin-top: 33px;
      @include m.flex-center;
      justify-content: flex-start;
      column-gap: 30px;

      .btn {
        max-width: 235px;
        width: 100%;
        height: 58px;
        border-radius: 10px;
        padding: 15px 30px;
        @include m.font-roboto;
        border: none;
        transition: 0.5s;

        &:hover {
          cursor: pointer;
        }
      }

      .btns__find {
        background-color: v.$green400-color;
        color: v.$white-color;

        &:hover {
          background-color: v.$green300-color;
        }
      }
      .btns__reset {
        background-color: v.$green100-color;
        color: v.$green400-color;
        &:hover {
          background-color: v.$grey100-color;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .tour-form {
    &__content {
      @include m.title-center(100%);
      padding: 0 21px;
    }

    &__title {
      max-width: 318px;

      .title__value {
        @include m.font-roboto(2.125rem, 700);
        line-height: 112%;
      }

      .title__subtitle {
        @include m.font-roboto(1rem, 400);
      }
    }

    &__form {
      margin-top: 60px;
      padding: 20px;
      .form__info {
        @include m.flex-center(column);
        row-gap: 30px;

        &_name {
          @include m.font-roboto(1rem);
          text-align: left;
        }

        &_label {
          input {
            height: 43px;
            padding: 10px;
            font-size: 1rem;
          }
          input::placeholder {
            font-size: 1rem;
          }
        }
      }

      .form__comment {
        margin-top: 30px;

        .comment__label {
          &_item {
            @include m.font-roboto(1rem);
            text-align: left;
          }
          #comment__value {
            height: 132px;
            font-size: 1rem;
          }
        }
      }

      .form__filter {
        &_label {
          margin-top: 30px;
          @include m.font-roboto(1rem);
          text-align: left;
        }

        .filter__radio {
          margin-top: 8px;
          column-gap: 30px;

          .radio__label {
            column-gap: 10px;

            input[name='radio__label'] {
              width: 20px;
              height: 20px;
            }

            span {
              @include m.font-roboto(1rem);
            }
          }
        }

        .filter__checkbox {
          margin-top: 30px;
          max-width: 278px;
          display: flex;

          input[type='checkbox'] {
            width: 20px;
            height: 20px;
          }

          .checkbox__text {
            width: 248px;
            text-align: left;
          }
        }
      }

      .form__btns {
        margin-top: 30px;
        column-gap: 10px;

        .btn {
          max-width: 134px;
          height: 47px;
          font-size: 1rem;
        }
      }
    }
  }
}
