@use '../../scss/mixins' as m;
@use '../../scss/variables' as v;

@use './ui/banner/styles' as banner;
@use './ui/navbar/styles' as navbar;

.header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    background-image: url(v.$header-bg-path);
  }

  @media screen and (max-width: 1024px) {
    .container {
      max-width: 1024px;
    }
  }

  @media screen and (max-width: 360px) {
    .container {
      height: 488px;
      max-width: 360px;
    }
  }
}
