@use './scss/mixins' as m;
@use './scss/variables';
@use './scss/header';
@use './scss/main';
@use './scss/footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.root {
  width: 100%;
  min-height: 100vh;
  @include m.flex-between(column);
}

.container {
  max-width: 1920px;
  width: 100%;
}
