@use '../components/footer/styles';

.footer {
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    row-gap: 135px;
  }
}

@media screen and (max-width: 1024px) and (min-width: 360px) {
  .footer {
    margin-top: 135px;

    .container {
      max-width: 1024px;
    }
  }
}

@media screen and (max-width: 360px) {
  .footer {
    margin-top: 75px;

    .content {
      row-gap: 75px;
    }
  }
}
