@use '../scss/variables' as g;
@use '../components/header/styles';

.header {
  width: 100%;
  min-height: 830px;
  background-image: url(g.$header-bg-path);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
  }
}
