$white-color: #ffffff;
$black-color: #1b1f2b;
$orange200-color: #efa501;
$orange100-color: #f8e6be;
$green400-color: #286562;
$green300-color: #3b7e7b;
$green200-color: #627f7e;
$green100-color: #e0f0e5;
$grey300-color: #a6a6a6;
$grey200-color: #d9dfdb;
$grey100-color: #d9dfdb;
$beige200-color: #f4f0e9;
$beige100-color: #f9f7f4;

$header-bg-path: './assets/images/header-img.png';
